<mat-sidenav-container>
  <mat-sidenav mode="side" class="sidenav" fixedInViewport="false" [opened]="true">
    <!-- Scelta del contenuto da visualizzare -->
    <mat-nav-list>
      <a mat-list-item [routerLink]="'pc-components'" class="menu-item">
        <mat-icon class="listItem-icon" color="primary">assessment</mat-icon> Componenti Pc
      </a>
      <a mat-list-item [routerLink]="'admin-prebuilts'" class="menu-item">
        <mat-icon class="listItem-icon" color="primary">assessment</mat-icon> PreAssemblati
      </a>
      <a mat-list-item [routerLink]="'family'" class="menu-item">
        <mat-icon class="listItem-icon" color="primary">assessment</mat-icon> Famiglie
      </a>
      <a mat-list-item [routerLink]="'compatibility'" class="menu-item">
        <mat-icon class="listItem-icon" color="primary">assessment</mat-icon> Vincoli di Compatibilita'
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <!-- Contenuto della pagina (dipendente dalla scelta effettuate nella mat-nav-list) -->
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-pc-components-filter></app-pc-components-filter> -->
