.sidenav {
  height: 88vh;
  width: 12vw;
  overflow: auto;
}

.content {
  height: 88vh;
  overflow: auto;
}

.margin{
  margin-left: 10px;
}

h3{
  margin-left: 5px;
}

.priceslider{
  text-align: center;
}
